<!-- Navbar -->
<div class="container-fluid " style="height : 83vh">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5 p-5 d-flex flex-column justify-content-center align-items-center">
      <div class=" mb-3 error-heading">404 ERROR</div>
      <div class=" mb-3 error-text">Sorry, the page not found</div>
      <div class="error-icon"><i class="fas fa-sad-tear"></i></div>
      <div class="mt-4"><button type="button" class="btn btn-outline-info btn-lg btn-block"
          (click)="goToPage('homepage')">BACK
          TO HOMEPAGE</button></div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
