<div class="container-fluid" style="height: 100vh;background-color:#F9F9F9">
  <div class="row justify-content-center">
    <div class="col-7 col-md-4" style="height: 100vh">
      <div class="row align-items-center" style="height: 100vh;flex-direction: column;padding-top: 50px">
        <div class="mb-4">
          <img src="./assets/git.PNG" alt="">
        </div>
        <div style="font-size: 24px;
                       font-weight: 300;line-height: 36px;color: rgb(51,51,51)" class="mb-4">
          Reset your password
        </div>
        <div style="height: 45vh;width: 290px;padding-top:40px;
                       padding-left: 20px;
                       padding-right: 20px;
                       background-color: white;border-radius: 20px;
                       border: 1px solid lightgrey;font-size: 14px;font-weight: 600" class="" [formGroup]="forms">
          <div class="mb-4">
            Enter your user account's verified email address and we will send you a password reset link.
          </div>
          <div>
            <input type="text" id="username" formControlName="email" class="form-control mb-3"
              placeholder="Email Address">
            <div *ngIf="forms.get('email').invalid && forms.get('email').touched" style="color: red;">
              <small>Enter Valid Email Address</small>
            </div>

            <div *ngIf="forms.get('email').valid && forms.get('email').touched" style="color: green;">
              <i>Validated</i>
            </div>
          </div>

          <div>
            <input type="text" id="password" class="form-control mb-3" formControlName="password"
              placeholder="New Password">
            <div *ngIf="forms.get('password').invalid && forms.get('password').touched" style="color: red;">
              <small>Enter Valid Password</small>
            </div>
            <div *ngIf="forms.get('password').valid && forms.get('password').untouched" style="color: green;">
              <i>Validated</i>
            </div>
          </div>


          <div style="font-size: 14px">
            <button class="btn btn-success btn-block" (click)="updatepassword()">Send Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
